* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, "Noto Sans KR", sans-serif;
  background: #f8f9fa;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* 카드 박스 */
.container {
  width: 700px;
  background: white;
  padding: 35px;
  border-radius: 15px;
  text-align: center;

  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

h1 {
  font-size: 45px;
  margin-bottom: 25px;
}

/* 입력 영역 */
.form-group {
  margin-bottom: 18px;
}

input,
select {
  width: 300px;
  height: 30px;
  border: 1px solid #c9c9c9;
  padding: 4px 8px;
}

/* 버튼 */
.btn {
  border: none;
  cursor: pointer;
  border-radius: 25px;
  padding: 12px 22px;
  font-size: 18px;
}

.primary {
  background: #007bff;
  color: white;
}

.primary:hover {
  background: #0056b3;
}

/* 필터 버튼 */
.filter-buttons {
  margin: 20px 0;
}

.filter-buttons button {
  background: #007bff;
  color: white;
  border: none;
  border-radius: 25px;
  padding: 12px 22px;
  font-size: 18px;
  margin-right: 12px;
  cursor: pointer;
  opacity: 0.85;
}

.filter-buttons button.active {
  opacity: 1;
  box-shadow: 0 5px 12px rgba(0, 123, 255, 0.3);
}

/* 리스트 아이템 */
.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 15px 5px;
  border-bottom: 1px solid #e0e0e0;
}

.left {
  display: flex;
  align-items: center;
  gap: 10px;
  flex: 1;
}

.left label {
  font-size: 20px;
  text-align: left;
}

.completed {
  text-decoration: line-through;
  color: gray;
}

/* 수정/삭제 버튼 */
.actions {
  display: flex;
  gap: 10px;
}

.edit-btn {
  background: #007bff;
  color: white;
  border-radius: 25px;
  padding: 10px 18px;
}

.delete-btn {
  background: white;
  border: 1px solid gray;
  padding: 8px 15px;
  border-radius: 6px;
}
